<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Video Poster</title>
  <style>
    * { margin: 0; padding: 0; box-sizing: border-box; }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.1.2/tailwind.min.css" integrity="sha256-bCQF5OufWlWM/MW9mCb/eDibvff1W8BNq9ZK69C8FSI=" crossorigin="anonymous" />
</head>
<body>

  <div id="app">
    <div>
      <div class="flex">
        <textarea class="bg-teal-100 border b-black p-3"  @input="onUpdatePoster()" v-model="poster.text" placeholder="text" cols="30" rows="10"></textarea>
        <chrome-picker class="bg-teal-100 border b-black p-3"   v-model="colorpicker" @input="poster.bg = colorpicker.hex; onUpdatePoster()"></chrome-picker>
      </div>
      <!-- <textarea  @input="onUpdatePoster()" v-model="poster.author" placeholder="author" cols="30" rows="10"></textarea> -->
      <!-- <input @input="onUpdatePoster()" class="bg-teal-100 p-3 border b-black" v-model="poster.bg" type="text"></input> -->

      <button class="bg-teal-100 border b-black p-3"  @click="makeVideo()">Make Video</button>
      <button class="bg-teal-100 border b-black p-3"  @click="makePic()">Make Pic</button>
    </div>
    <div>
      <div v-if="!pAPI">
        Loading.....
      </div>
      <canvas ref="canvas">
      </canvas>
    </div>
    <div>
      <div v-for="log in logs" :key="log.id" v-html="log.html"></div>
    </div>
  </div>

  <script src="https://www.unpkg.com/socket.io-client@2.3.0/dist/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-color/2.7.0/vue-color.min.js"></script>
  <script src="/res/universal-webgl.js"></script>

  <script type="module">
    var socket = io()
    var app = new Vue({
      components: {
        'chrome-picker': VueColor.Chrome
      },
      el: '#app',
      data () {
        return {
          logs: [],
          pAPI: false,
          socket,
          colorpicker: {},
          poster: {
            text: 'hello from hong kong',
            bg: '#ffffff'
          }
        }
      },
      // watch: {
      //   poster: {
      //     deep: true,
      //     handler () {
      //       this.onUpdatePoster()
      //     }
      //   }
      // },
      mounted () {
        this.initPosterPreview()
        this.initLogs()
      },
      methods: {
        async initPosterPreview () {
          this.pAPI = await window.UniversalWebGL.install({
            canvas: this.$refs['canvas'],
            data: this.poster
          })
          this.pAPI.start()
        },
        onUpdatePoster () {
          if (this.pAPI) {
            this.pAPI.core.data = { ...this.poster }
          }
        },
        makePic () {
          socket.emit('make pic', this.poster);
        },
        makeVideo () {
          socket.emit('make video', this.poster);
        },
        initLogs () {
          socket.on('log', (item) => {
            this.logs.push(item)
            setTimeout(() => {
              window.scrollTo(0, document.body.scrollHeight)
              this.$forceUpdate()
            })
          })
        }
      }
    })
  </script>
</body>
</html>
